<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="two columns" style="background-color: gray">
					<h2 align="center">V</h2>
					<h2 align="center">L</h2>
					<h2 align="center">O</h2>
				</div>
				<div class="eight columns">
				<h2>Edit <%= current_user.email %></h2>
				<h4 class="subheader">"But I like you just the way you are...."</h4>

					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=>"nice", :method => :put }) do |f| %>
					  <%= devise_error_messages! %>
					
					  <%= f.label :email %>
					  <%= f.email_field :email %>
					  
					  <br/>
					  <br/>
					
					  <%= f.label :password %><i>(leave blank if you don't want it to change)</i><br/>
					  <%= f.password_field :password, :class => "nice" %>
					
					  <br/>
					  <br/>
					
					  <%= f.label :password_confirmation %>
					  <%= f.password_field :password_confirmation %>
					
					  <br/>
					  <br/>
					
					  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
					  <%= f.password_field :current_password %>
					
					  <br/>
					  <br/>
					  
					  <%= f.submit "Update", :class => "nice small radius blue button" %>
					<% end %>
					
					<h3>Cancel my account</h3>
					
					<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
					
					<%= link_to "Back", :back %>

				</div>
			</div>
		</div>
	</div>
</div>