<!-- The Grid -->
<div class="row">
	
	<script type ="text/javascript">
		$(window).load(function() {
			$('#featured').orbit({
				bullets: true
			});
		});
	</script>
	
	<% content_for :not_authorized do %>

		<% end %>
	
	<div class="row">
		<div class="12 columns centered">
			<div id= "featured">
				<img src="http://cambelt.co/980x300/Mock-Up?color=,987423" data-caption="#caption" />
				<div class="content">
					<div class="row">
						<div class="eight columns">
							<h1 class="content">V-team</h1>
							<h3 class="content">Your personal TEAM of lawyers for any law music, media, arts and technology.</h3>
						</div>
						<div class="four columns">
							<%= image_tag("Favorites.png", :class=>"content") %>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="row">
						<div class="eight columns">
							<h1 class="content">Talk</h1>
							<h3 class="content">Speak to any of our attorneys virtually through SKYPE anytime.</h3>
						</div>
						<div class="four columns">
							<%= image_tag("IM.png", :class=>"content") %>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="row">
						<div class="eight columns">
							<h1 class="content">Download</h1>
							<h3 class="content">Quick and Affordable Expertly Crafted Contracts.</h3>
						</div>
						<div class="four columns">
							<%= image_tag("Downloads.png", :class=>"content") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
		<span class="orbit-caption" id="caption">Mock-ups according to Nicole's kick a** design.</span>

	<% content_for :body do %>

	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="two columns">
					<%= image_tag("Mouse.png") %>
				</div>
				<div class="ten columns">
					<p class="panel-title">You are ONE click away from</p>
					<ul class="panel-text">
						<li>Rock solid (and affordable) forms for all your needs</li>
						<li>An online appointment via Skype</li>
					</ul>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="two columns">
					<%= image_tag("Gear.png") %>
				</div>
				<div class="ten columns">
					<p class="panel-title">How it works</p>
					<ol class="panel-text">
						<li>Register for a secure account page.</li>
						<li>Complete estate planning worksheet with guidance from your attorney.</li>
						<li>The attorney reviews your documents and discusses them with you.</li>
						<li>Pay online and choose from a number of payment options.</li>
						<li>Receive estate planning documents ready to sign with instructions.</li>
					</ol>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="two columns">
					<%= image_tag("MSN.png") %>
				</div>
				<div class="ten columns">
					<p class="panel-title">Who we are</p>
						<p class = "panel-text">Some of the most celebrated attorneys, scholars, and industry experts</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>