<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="two columns" style="background-color: gray">
					<h2 align="center">V</h2>
					<h2 align="center">L</h2>
					<h2 align="center">O</h2>
				</div>
				<div class="eight columns">
				<h2>Edit Your Information</h2>
				<h4 class="subheader">Help us get to know you better.</h4>
				<p><%= link_to "Back to Profile", current_user %></p>
					<dl class="nice contained tabs">
					  <dd><a href="#name" class="active">Name</a></dd>
					  <dd><a href="#address">Address</a></dd>
					  <dd><a href="#contact">Contact Info</a></dd>
					  <dd><a href="#legal">Legal Services</a></dd>
					</dl>
					
					<ul class="nice tabs-content contained">
					  <li class="active" id="nameTab">
										
						<%= form_for(@user) do |f| %>
						  <div>
						  	<%= f.label :title %>
						  	<%= f.select :title, ["Mr.","Mrs.","Ms.","Dr."]%>
						  </div>
						  <div>
						    <%= f.label :first_name %>
						    <%= f.text_field :first_name %>
						  </div>
						  <div>
						    <%= f.label :middle_name %>
						    <%= f.text_field :middle_name%>
						  </div>
						  <div>
						    <%= f.label :last_name%>
						    <%= f.text_field :last_name %>
						  </div>
						  <div>
						    <%= f.label :suffix%>
						    <%= f.select :suffix, ["Jr.","Sr.","Esq."] %>
						  </div>
						  <div>
						    <%= f.label :nickname%>
						    <%= f.text_field :nickname %>
						  </div>
						  
						  <br/>
						
						  <div><%= f.submit "Update", :class => "nice small radius blue button" %></div>
					  </li>
					  
					  <li id="addressTab">
					  	
					  	  <div>
					  	    <%= f.label :street_address %><br/>
					        <%= f.text_field :street_address %>
					      </div>
					    
					      <br/>
					    
					      <div>
					        <%= f.label :city %><br/>
					        <%= f.text_field :city %>
					      </div>
					    
					      <br/>
					    
					      <div>
					        <%= f.label :state %><br/>
					        <%= f.text_field :state %>
					      </div>
					    
					      <br/>
					    
					      <div>
					        <%= f.label :zip %><br/>
					        <%= f.text_field :zip %>
					      </div>
					  	
					  	  <br/>
					  	
					  	  <div><%= f.submit "Update", :class => "nice small radius blue button" %></div>
					  	
					  </li>
					  
					  <li id="contactTab">
					  	
					  	  <div>
					        <%= f.label :email %><br/>
					        <%= f.text_field :email %>
					      </div> 
					    
					      <br/>
					    
					      <div>
					        <%= f.label :phone %><br/>
					        <%= f.text_field :phone %>
					      </div>
					    
					      <br/>
					      
					      <div>
					        <%= f.label :website %><br/>
					        <%= f.text_field :website %>
					      </div>
					    
					      <br/>
					      
					      <div>
					        <%= f.label :twitter %><br/>
					        <%= f.text_field :twitter %>
					      </div>
					    
					      <br/>
					      
					      <div>
					        <%= f.label :best_way_to_contact %><br/>
					        <%= f.text_area :best_way_to_contact, :rows => 4 %>
					      </div>
					    
					      <br/>
					      
					      <div><%= f.submit "Update", :class => "nice small radius blue button" %></div>
					  </li>
					  
					  <li id="legalTab">
						  <div>
						    <%= f.label "Have you been represented by an attorney before?" %><br/>
						    <%= f.radio_button :represented_before, "true" %><%= f.label :represented_before, "Yes"%>
						    <%= f.radio_button :represented_before, "false" %><%= f.label :represented_before, "No"%>
					      </div>
					      
					      <br/>
					      
					      <div>
						    <%= f.label "If yes, under what circumstances were you represented?" %><br/>
					        <%= f.text_area :circumstances, :rows => 4 %>
					      </div>
					      
					      <br/>
					      
					      <div>
						    <%= f.label "Have you consulted an attorney?" %><br/>
						    <%= f.radio_button :consulted_attorney, "true" %><%= f.label :consulted_attorney, "Yes"%>
						    <%= f.radio_button :consulted_attorney, "false" %><%= f.label :consulted_attorney, "No"%>
					      </div>
					      
					      <br/>
					      
					      <div>
						    <%= f.label "If yes, why did you not hire the other attorney?" %><br/>
					        <%= f.text_area :why_not_hire_attorney, :rows => 4 %>
					      </div>
					      
					      <br/>
					      
					      <div>
						    <%= f.label "What legal services are needed?" %><br/>
					        <%= f.text_area :legal_services_needed, :rows => 4 %>
					      </div>  
					      
					      <br/>
					      
					      <div>
						    <%= f.label :parties_involved %><br/>
						    <%= f.radio_button :parties_involved, "true" %><%= f.label :parties_involved, "Yes"%>
						    <%= f.radio_button :parties_involved, "false" %><%= f.label :parties_involved, "No"%>
					      </div>
					    
					      <br/>
					      
					      <div>
						    <%= f.label "If yes, please list all parties involved" %><br/>
					        <%= f.text_area :parties, :rows => 4 %>
					      </div>
					      
					      <br/>
					    
					      <div><%= f.submit "Update", :class => "nice small radius blue button" %></div>
					  </li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
			