<!DOCTYPE html>
<html>
<head>
  <title>VLO</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice %>
		<div class="alert-box success"><%= notice %><a href="" class="close">X</a></div>
	<% elsif alert %>
		<div class="alert-box error"><%= alert %><a href="" class="close">X</a></div>
	<% end %>

	
	<!-- header -->
		<div class="row">
			<div class="twelve columns">
				<div class="two columns">
					<h1 class="header">WH&D</h1>
				</div>
				<div class="five columns">
					<h4>WAGNAM HURWITZ & DICKMAN</h4>
					<p class= "subheader">a full service entertainment, media, & technology firm</p>
				</div>
				<div class="three columns offset-by-two">
					<% if user_signed_in? %>
						Signed in as <%= link_to current_user.first_name, current_user %> (<%= link_to "edit", edit_user_registration_path %>). Not you?
						<%= link_to "Sign out >>", destroy_user_session_path, :method => :delete, :class => "small black button" %>
					<% else %>
						<%= link_to "Sign up", new_user_registration_path, :class => "small blue button" %><%= link_to "Sign in", new_user_session_path, :class => "small red button" %>
					<% end %>
				</div>
			</div>
		</div>
	<!-- header -->
		
	<!-- navbar -->
	<div class="row">
		<div class="ten columns offset-by-two">
			<dl class="nav">
				<dd><%= link_to "Home", pages_home_path, :class => is_active?("home") %></dd>
				<dd><%= link_to "How It Works", pages_how_it_works_path, :class => is_active?("how_it_works") %></dd>
				<dd><%= link_to "Our Attorneys", pages_our__attorneys_path, :class => is_active?("our__attorneys") %></dd>
				<dd><%= link_to "Services and Fees", pages_services_fees_path, :class => is_active?("services_fees") %></dd>
				<dd><%= link_to "FAQ", pages_faq_path,:class => is_active?("faq") %></dd>
				<dd><%= link_to "About", pages_about_path, :class => is_active?("about") %></dd>
			</dl>
		</div>
	</div>
	<!-- navbar -->
	
	<!-- number -->
	<div class="row">
		<div class ="twelve columns">
				<p class="phone">555-867-5309</p><p class="call">Call us: </p>
		</div>
	</div>
	<!-- number -->
	
	
	<!-- body -->
	<div class="row">
		<div class="twelve columns">
			<%= yield %>
		</div>
	</div>

 	<div id="body-text">
	 	<div class="row">
			<div class="twelve columns">
				<%= yield :body %>
			</div>
		</div>
	</div>
	<!-- body -->
	
	<!-- footer -->
	
	<div id="footer-text">
		<div class="row">
			<div class="twelve columns">
				<div class="four columns">
					<p class="footer-call">Questions? Call us:</p>
					<p class="footer-phone">(000)000-0000</p>
				</div>
				<div class="four columns">
					<p class="footer-call">Social Media</p>
						<div class="nine columns centered">
							<img class="social-media" src="http://cambelt.co/40x40/I" />
							<img class="social-media" src="http://cambelt.co/40x40/C" />
							<img class="social-media" src="http://cambelt.co/40x40/O" />
							<img class="social-media" src="http://cambelt.co/40x40/N" />
							<img class="social-media" src="http://cambelt.co/40x40/S" />
						</div>
				</div>
				<div class="four columns">
					<p class="footer-call">Questions? Call us: </p>
					<p class="footer-phone">(000)000-0000</p>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="twelve columns centered">
				<p class="disclaimer">
					<strong>Disclaimer:</strong> Please note that this answer does not constitute legal advice, 
					and should not be relied on, since each state has different laws, 
					each situation is fact specific, and it is impossible to evaluate a legal problem 
					without a comprehensive consultation and review of all the facts and documents at issue. 
					This answer does not create an attorney-client relationship.
				</p>
				<p class="copyright">
					©2012 Wagnam Hurwitz & Dickman Law Firm. All rights reserved.
				</p>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	
</body>
</html>
